html,
body {
    padding: 0;
    background-color: #506DF5;
    display: grid;
}

#container {
    background-color: #506DF5;
    display: grid;
    justify-self: left;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}

#container div {
    border-radius: 30px;
}

/* Menu Bar */
#news {
    display: grid;
    grid-template-rows: 190px 20px;
    grid-template-columns: 170px;
    justify-self: center;
    font-family: cursive;

}

#nav {
    display: grid;
    grid-template-rows: 2fr 5fr 3fr;
    grid-template-columns: auto;
    grid-gap: 20px;
    background-color: #506DF5;

}

#traffic {
    display: grid;
    grid-template-rows: 50px 60px 50px;
    grid-template-columns: 130px;
    background: #FFFFFF;
    grid-gap: 15px;
    justify-content: space-around;
    text-align: left;
    color: #0C3E64;
    border-radius: 20px !important;
}



#header {
    display: grid;
    align-items: end;
    font-weight: bold;
    font-size: 18px;
    text-align: left !important;
}

#text {
    font-size: 13px;
    color: #7b90a1;
}

#button {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 150px;
    justify-content: center;
    align-items: center;
}


#read_more {
    background-color: #edf0fc;
    font-size: 14px;
    height: 40px;
    width: 130px;
    display: grid;
    align-items: center;
    justify-self: center;
    text-align: center;
    border-radius: 8px !important;
}

/* #nav div {
    background-color: #252525;
} */

#menu {
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    grid-template-columns: 200px;
    grid-gap: 10px;
    border-radius: 5px;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    border-radius: 10px !important;

}

.menu_items {
    color: #EEF0F6;
    font-family: cursive;
    font-size: 15px;
    width: 180px;
    height: 45px;
    border-radius: 10px !important;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 5fr;
    grid-gap: 15px;
    align-content: space-evenly;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}


#menu_text {
    text-align: left !important;
}


/* Content */

#content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 300px;
    grid-gap: 1px;
    justify-content: center;
    background-color: #7b90a1;
}

#content div {
    background-color: #EEF0F6;
    border-radius: 0px;
}

#content :first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#content :last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#profile :first-child {
    border-radius: 0px;
    border-top-right-radius: 30px;
}

#profile :last-child {
    border-radius: 0px;
    border-bottom-right-radius: 30px;
}

/* body */
#body {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: auto;
    border-radius: 20px;
    background-color: #EEF0F6;
}

#body div {
    margin: 10px 20px;
}

#search {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 1fr 150px;
}

#search div {
    border-radius: 15px !important;
    background-color: #fff;
}

#search_box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr;
    box-shadow: 0px 4px 10px #dddee4;
}

#search_icon {
    display: grid;
    text-align: right;
    align-self: center;
    align-items: center;
    font-size: 25px;
    color: #7b90a1;
    cursor: pointer;
}

#search_input {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#search_input input {
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    font-family: cursive;
    color: #7b90a1;
}

#notification {
    background-color: #EEF0F6 !important;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #2239a0;
}

#body_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

#body_content div {
    background-color: none;
}

#money_status {
    grid-column: 1/6;
}

#budget {
    grid-column: 1/4;

}

#loan {
    grid-column: 4/6;

}

/* Profile */

#profile {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-columns: 1fr;
    align-items: center;
}

#profile div {
    background-color: #EEF0F6;
}



/* Test */
#logo {
    background-image: url("logo.png");
    background-position: center;
    background-size: contain;
}

#body #logo {
    display: none;
}

/* Money Status  */
#money_status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    justify-content: left;
    margin: 0 !important;
}

#money_status #head {
    grid-column: 1/3;
    text-align: left;
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    color: #0C3E64;
}

#select {
    grid-column: 3/4;
    font-size: 17px;
    display: grid;
}

#select select {
    width: 100px;
    display: grid;
    justify-self: right;
    border: 0;
    text-align: center;
    color: #506DF5;
    background-color: transparent;
    font-size: 17px;
    font-family: cursive;
}

#chart {
    grid-column: 1/4;
    background: #fff !important;
    border-radius: 15px !important;
    box-shadow: 0px 5px 10px #dddee4;

}

#budget,
#loan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    margin: 0 !important;
}

#budget #head,
#loan #head {
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    color: #0C3E64;
}

#bars,
#loan_body {
    background-color: #fff !important;
    border-radius: 20px !important;
    box-shadow: 0px 5px 10px #dddee4;
}

#chart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
}


#profile_info {
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    justify-content: center;
    font-family: cursive;
}

#profile_info div {
    border-radius: 0 !important;
}

#profile_image {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    align-items: center;
    justify-content: center;
}

#profile_image img {
    border-radius: 50% !important;
    border: 1px solid #000;
    background-color: #353;
}

#profile_name {
    grid-column: 2/4;
    grid-row: 1/1;
    display: grid;
    align-self: last baseline;
    justify-content: start;
    font-weight: bold;
}

#profile_mail {
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    align-self: self-start;
    color: #3c4b58;
    font-size: 13px;
}

#log_out {
    grid-column: 4/5;
    grid-row: 1/3;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

hr {
    margin-top: -500px;
    width: 0px;
    height: 250px;
    transform: rotate(90deg);
}